.item__video {
  border-radius: 8px;
  overflow: hidden;
  display: block;
  width: 100%;
}
.v-vlite {
  --vlite-colorPrimary: #419ed8 !important;
}
.plyr {
  height: 100%;
  min-width: 0;
}
.v-vlite * {
  color: #fff;
}