

.action-button {
    border: 0;
    background-color: $color-action-button;
    text-align: center;
    padding: 6px 10px;
    font-size: min(4vw, 22px);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s linear;
    border-radius: 5px;

    &:hover {
        background-color: rgb(86, 93, 115);
        cursor: pointer;
    }
    &.active {
        background-color: rgb(28, 78, 229);
    }
}