.transform-item {

  .transform-resizers {
    display: none;
  }

  &.edit {
    .transform-resizers {
      display: block;
    }

    &:not(&[data-type="modal"]).focused {
      z-index: 5 !important;
      outline: 4px solid #e72b31;
    }
  }
  &[data-type="modal"] {
    .transform-resize {
      width: 60px;
      height: 60px;
    }
  }
}