.transform-item {
  transform: scale(1);
  > .transform-resize {
    display: none;
  }
  &.focused {
    > .transform-resize {
      display: block;
    }
  }
  &.edit {
    &:not(&[data-type="modal"]) {
      border: 4px solid rgba(255, 255, 255, 0);
      &.focused {
        z-index: 5 !important;
        border: 4px solid #e72b31;
      }
      &.focused-parent {
        z-index: 5 !important;
      }
      &.selected {
        outline: 6px solid #2b76e7;
      }
    }
  }
  &[data-type="modal"] {
    > .transform-resize {
      display: none;
      width: 60px;
      height: 60px;
    }
  }
  &[data-style="fullscreen"] {
    width: 100% !important;
  }
  .transform-resize {
    position: absolute;
    z-index: $zindex-transform;
    width: 40px;
    height: 40px;

    &.bottom-left {
      left: 0;
      bottom: 0;
      transform: translate(-50%, 50%);

      &:hover {
        cursor: sw-resize;
      }
    }

    &.bottom-right {
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%);

      &:hover {
        cursor: se-resize;
      }
    }
    &.right {
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);

      &:hover {
        cursor: e-resize;
      }
    }
    &.left {
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        cursor: w-resize;
      }
    }
    &.bottom {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);

      &:hover {
        cursor: n-resize;
      }
    }
  }
}