.transform-item {

  .transform-resizers {
    display: none;
  }
  &.focused {
    .transform-resizers {
      display: block;
    }
  }
  &.edit {
    &:not(&[data-type="modal"]).focused {
      z-index: 5 !important;
      outline: 4px solid #e72b31;
    }
  }
  &[data-type="modal"] {
    .transform-resizers {
      display: block;
    }
    .transform-resize {
      width: 60px;
      height: 60px;
    }
  }
}