@import "components/Messenger/variables";

.custom-input {
    .ql-editor {
        border-radius: 0;
        background-color: $color-main;
        text-align: left;
        width: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 14px 8px 14px 4px;

    }
    .editor-wrapper {
        transition: max-width 0.1s linear;
        flex-grow: 1;
    }
    .ql-editor.ql-blank::before {
        padding: 0 4px;
        width: 100%;
        left: 0;
        font-style: normal;
        font-size: 14px;
        //top: 50%;
        opacity: 0.9;
        //transform: translate(0, -50%);
        word-wrap: initial;
        overflow: hidden;
    }
    &.messenger-input {
        z-index: 2;
        display: flex;
        border-top: $style-border;
        position: relative;
        .ql-editor {
            //height: 50px;
        }
        .ql-formats {
            margin-right: 0;
            .icon-emojis {
                font-size: 16px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .icon-attachment {
                height: 100%;
                width: 100%;
                svg {
                    width: 22px;
                }
            }
            button {
                width: 35px;
                height: 35px;
            }
        }
        .ql-toolbar {
            padding-right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input-field {
            flex-grow: 1;
        }
    }
    .ql-simple {
        width: 100%;
        flex-direction: row;
        .ql-toolbar .ql-formats {
            display: flex;
        }
    }
    .ql-simple .ql-container {
        width: 100%;
        height: 50px;
    }
    .slot {
        display: flex;
        align-items: center;
        margin: 0 5px;
    }
    .icon {
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
        &-attachment {
            opacity: 0.7;
        }
        &-send {
            margin-right: 10px;
            width: 25px;
            height: 25px;
            filter: invert(72%) sepia(44%) saturate(4344%) hue-rotate(175deg) brightness(89%) contrast(90%);
        }
    }
    .uploads {
        max-width: 90%;
        overflow: hidden;
        position: absolute;
        bottom: calc(100% + 10px);
        background-color: $color-action-button;
        p {
            color: #fff;
        }
        border-radius: 8px;
        box-shadow: 0 0 2px 0 grey;
        padding: 4px;
        margin-left: 5px;
    }
    .icon-emojis {
        .modal__background {
            height: 100%;
        }
        .modal__window {
            position: initial;
            @include mobile{
                & {
                    max-width: 80%;
                }
            }
        }
        em-emoji-picker {
            width: 100%;
        }
    }
    .ql-container {
        p {
            position: absolute;
            width: 100%;
            //padding: 14px 8px 14px 4px;
        }
    }
}

.messenger-input {
    .icon-emojis {
        .modal__window {
            transform: translate(calc(50% - 20px), calc(-50% - 30px));
        }
    }
}