@import '../../styles/constants';

.modal {
    &__window {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $zindex-modal;

        &.centered {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.bottom {
            width: 100%;
            top: auto;
            bottom: 0;
            //left: 50%;
            //transform: translate(-50%, 0);
        }
    }

    &__wrapper {
        z-index: $zindex-modal;
    }

    &__background {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        width: 100%;
        height: 200vh;
        left:0;
        top: 0;
        z-index: $zindex-background;

        transition: visibility 0.2s linear, opacity 0.2s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        &.opened {
            visibility: visible;
            opacity: 1;
            &:not(.bg-none) {
                pointer-events: auto;
            }
            .modal__window {
                pointer-events: auto !important;
            }
        }

        &.bg-none {
            background-color: rgba(0,0,0,0);
        }
    }

    &__outer {
        z-index: calc($zindex-modal + 5);
        &:empty {
            display: none;
        }
    }
}
