.custom-icon {
  font-size: var(--icon-size);
}

$border: solid #7c7c7c;

.custom-icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filemanager {
  &-view, &-left, &-right {
   height: 100%;
  }
}
.filemanager-view.list {
  .custom-icon-img, .custom-icon {
    height: 100%;
    width: calc(100px * var(--scale) / 5);
    img {
      max-width: 100%;
      display: block;
      max-height: 100%;
      //height: 100%;
    }
  }
}
.filemanager-view.default {
  .custom-icon-img,  .custom-icon {
    height: calc(100px * var(--scale) / 5);
    //height: 100%;
    img {
      display: block;
      max-height: 100%;
      width: 100%;
    }
  }
}

.fe_fileexplorer_wrap .fe_fileexplorer_item_wrap {
  width: calc(var(--icon-size) + 1em);
}

.fe_fileexplorer_items_scroll_wrap {
  overflow-y: scroll !important;
  overscroll-behavior: none;
  @include custom-scrollbar;
}

.fe_fileexplorer_item_text {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

@include mobile {
  .filemanager-window .transform-item {
    height: 100dvh;
  }
}

.filemanager {
  position: relative;
  height: 100%;
  &-left {
    width: 100%;
  }
  &-view.default {
    .filemanager-textbar {
      display: none;
    }
    .fe_fileexplorer_item_text {
      .time, .size, .type {
        display: none;
      }
    }
  }
  &-view.list {
    flex-direction: column;

    .fe_fileexplorer_item_wrap {
      width: 100%;
      position: relative;
    }
    .fe_fileexplorer_item_text {
      flex-direction: row;
      justify-content: space-between;
      height: 20px;
      .wrapper {
        border-left: 1px $border;
        border-right: 1px $border;
        &:hover {
          cursor: pointer;
        }
        height: 100%;
        display: flex;
        align-items: center;
        p {
          margin: 0 20px;
        }
      }
      p {
        display: flex;
        align-items: center;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
      .wrapper-grow {
        flex-grow: 1;
      }
      .wrapper-name {
        flex-grow: 1;
      }
    }

    .fe_fileexplorer_item_wrap_inner {
      align-items: center;
      column-gap: 20px;
      width: 100%;
      height: var(--icon-size) ;
      display: flex;
      .text {
        margin-right: auto;
      }
      .size {
        text-align: right;
        width: 60px;
      }
      .time {
        margin-right: 30px;
      }
      .type {
        min-width: 30px;
        margin-right: 35px;
        //margin-left: auto;
      }
    }
  }
  &__buttons{
    column-gap: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
  }
  &-header {
    border: 2px $border;
    border-bottom: none;
    background-color: #fff;
    width: 100%;
    display: flex;

    &__wrapper {
      margin-bottom: -2px;
    }
    &.buttons {
      height: 30px;
    }
     &.toolbar {
      height: 30px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      column-gap: 5px;
    }
    &.toolbar {
      border: 2px $border;
      border-top: 1px $border;
      border-bottom: none;

      .filemanager__button {
        height: 26px;
        background-color: $color-link-background;
        border-radius: 5px;
        padding: 0 4px;
        &:hover {
          background-color: #d3d6d8;
          cursor: pointer;
        }
      }
    }
    .window-close img {
      width: 30px;
      height: 30px;
    }
    .window-close{
      left: auto;
      right: 5px;
    }
  }
}
.fe_fileexplorer_wrap {
  height: calc(100% - 59px);
}

.fe_fileexplorer_wrap .fe_fileexplorer_inner_wrap {
  border: 2px $border;
  border-top: 1px solid #AAAAAA;
}

.fe_fileexplorer_statusbar_text_segment_wrap {
  color: #2700ff;
  font-weight: 500;
}

.fe_fileexplorer_item_wrap {
  overflow: visible !important;
}



.fe_fileexplorer_items_scroll_wrap_inner {
  overflow: hidden;
}

.fe_fileexplorer_toolbar {
  flex-wrap: wrap;
}

.filemanager-search {
  width: 150px;
  height: 24px;
  input {
    width: 100%;
    height: 100%;
    padding: 2px;
  }
}

.filemanager-textbar {
  .filemanager-sort {
    height: 30px;
    width: 100%;
    display: flex;
    padding-left: 70px;
    padding-right: 20px;
    align-items: center;
    border-bottom: 1px $border;
    font-size: 12px;

  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.fe_fileexplorer_item_wrap_inner {
  position: relative;

  &:hover {
    .filemanager-tooltip {
      transition-delay: 0.3s;
      visibility: visible;
      opacity: 1;
    }
  }
}

.fe_fileexplorer_statusbar_text_segment_wrap_last {
  margin-left: auto;
  font-size: 16px;
  @include mobile {
    font-size: 12px;
  }
}

.filemanager-tooltip {
  z-index: 1;
  pointer-events: none;
  background-color: #fff;
  box-shadow: 0 0 2px 0 grey;
  padding: 2px;
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  .tooltip-item {
    display: flex;
    column-gap: 5px;
    p {
      //max-width: calc(min(200px, 50vw));
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      display: inline;
    }
  }
}

.filemanager__sidebar {
  max-width: 300px;
  background-color: #fff;
  height: 100%;
  img {
    max-width: 100%;
  }
}

.filemanager-right {
  border: 2px $border;
  border-left: none;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  position: fixed;

  @include desktop {
    position: absolute;
    transform: translate(100%, 0);
  }
}
.filemanager-window .transform-item  {
  .item__edit {
    display: block !important;
  }
  .borders, .info {
    display: none;
  }
}