
:export {
    linkColor: $color-link-background;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    font-size: 15px;
    z-index: $zindex-utility;
    max-height: 80dvh;
    display: flex;

    &__block {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        max-height: 80dvh;
    }

    .slider, .slider__body {
        max-height: 100%;
    }
    .slider {
        &.opened {
            width: 150px;
        }
        &.closed {
            width: 0;
        }
    }

    &__wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        margin-top: 5px;
        height: 100%;
        transition: transform 0.2s linear, visibility 0.2s linear;
        @include custom-scrollbar;
        &::-webkit-scrollbar {
            width: 15px;
        }
    }

    &__inner {
        max-height: 100%;
        padding: 0 20px 10px 5px;
        width: 150px;
    }

    &__outer {
        padding-top: 5px;
        overflow: visible;
        padding-bottom: 0 !important;
        .sidebar__inner {
            padding-bottom: 0 !important;
        }
        //padding-right: 20px;
    }

    &__list-wrapper {
        max-height: 100%;
    }

    &__item {
        position: relative;
        margin-bottom: 4px;
    }

    &__header {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        z-index: 1;
    }

    &__btn {
        background: none;
        position: absolute;
        left: 5px;
        top: 5px;
        border: 0;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        img {
            width: 50px;
        }
    }

    .slider__togglers {
        position: fixed;
        top: 0;
        left: 0;

        .window-button {
            width: 50px;
            height: 50px;
            position: fixed;
            left: 5px;
            top: 5px;
            background-color: #fdfdfd;
            border-radius: 8px;
            box-shadow: 0 0 3px 0 black;
        }

        .window-open {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

$color-sidebar-background: rgb(54, 59, 75, 0.8);

@media only screen and (max-width: 700px) {
    .sidebar {
        font-size: 20px;
        top: 0;
        padding-top: 0;
        background-color: $color-sidebar-background;
        max-height: 100dvh;

        .slider {
            &.opened {
                width: 200px;
            }
        }

        &__wrapper {
            padding-top: 0;
            padding-bottom: 100px;
            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__inner {
            max-height: 100%;
            padding: 5px;
            padding-top: 0;
            width: 200px;
        }

        &__outer {
            height: auto;
        }

        &__block {
            max-height: 100dvh;
            height: 100dvh;
        }

        .window-button {
            left: auto !important;
            right: 5px !important;
        }
    }
}