.delayed-visibility {
    &.visible {
        transition: all 0.3s linear;
        visibility: visible;
        opacity: 1;
    }
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
}