@import "../variables";
.messenger__sidebar {
  height: 100%;
  overflow: visible;
}
.messenger__sidebar-inner {
  padding-bottom: 10px;
  border-right: $style-border;
  background-color: $color-main;
  overflow-y: scroll;
  overflow-x: hidden;
  @include custom-scrollbar(12px);
  transition: all 0.2s linear;
  height: 100%;

  .sidebar-item {
    height: 44px;
    display: flex;
    padding-top: 16px;
    margin: 0 6px 8px 6px;

    @mixin glow($col) {
      box-shadow: 0 0 3px 4px $col;
    }

    &.online {
      .avatar > * {
        @include glow(#629622);
      }
    }
    &.offline  {
      .avatar > * {
        @include glow(rgba(30, 114, 234, 0.54));
      }
    }
  }
  span .wrapper {
    overflow-x: hidden;
    display: inline-block;
    width: 100%;
  }
  .sidebar-item__wrapper {
    height: 60px;
    background-color: $color-main;
    transition: all 0.2s linear;
    &:hover {
      cursor: pointer;
      background-color: #d5d4dc;;
    }
    &.current {
      background-color: #419ed8;
      span {
        color: white;
      }
    }
    &.new {
      background-color: rgba(138, 138, 138, 0.53);
    }
  }
  .text-wrapper{
    flex-grow: 1;
    padding-left: 5px;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
    text-align: left;
    white-space: nowrap;
  }
  .text {
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }
  .subtext {
    font-size: 14px;
    white-space: nowrap;
    &-message {
      display: inline-block;
      width: 70%;
    }
    &-lastseen {
      text-align: left;
      .wrapper span  {
        display: inline-block;
        font-size: 12px;
      }
    }
  }
  .text-inner {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .text-block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .slider {
    &.opened {
      width: 200px;
      @include mobile {
        & {
          width: 180px;
        }
      }
    }
    &.closed {
     width: 60px;
      @include mobile  {
        width: 40px;
      }
    }
  }
  .avatar__wrapper {
    display: flex;
    align-items: center;
  }

  &.opened {
    .sidebar__search{
      opacity: 1;
    }
    .text-wrapper {
      display: flex;
    }
    .avatar {
      width: 40px;
      height: 40px;
    }
    @include mobile {
      .avatar {
        width: 30px;
        height: 30px;
      }
    }
    & + .wrapper {
      @include mobile {
        .avatar {
          //visibility: hidden;
          //opacity: 0;
        }
      }
    }
  }
  &.closed {
    .sidebar__search{
      opacity: 0;
    }
    .text-wrapper {
      display: none;
    }
    .avatar__wrapper .info {
      display: none;
    }
    .avatar  {
      width: 50px;
     height: 50px;

      @include mobile {
        width: 100%;
        max-width: 30px;
        max-height: 30px;
        height: 100%;
      }
    }
  }

  .slider__togglers {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar__rooms {
    margin-top: 4px;
  }

  .sidebar__search {
    min-height: 30px;
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    text-align: center;
    transition: all 0.2s linear;
    input {
      height: 30px;
      width: 80%;
    }
    p {
      margin-top: 4px;
    }
  }
  .sidebar__users-delimiter {
    width: 100%;
    border-bottom: $style-border;
  }
  .accordion-header {
    border: none;
  }
  .accordion-header__wrapper {
    justify-content: center;
    .toggle-button {
      margin-left: initial;
    }
  }
}