
.item__textfield {
  box-shadow: none;
  background: none;
  padding: 5px;
  height: 100%;
  flex-grow: 1;
  min-height: inherit;
  p {
    text-align: left;
  }
  .info__paragraph {
    padding: 0;
    height: 100%;
    //padding-left: 20px;
    //text-align: left;
    width: 100% !important;
  }
  &:hover {
    opacity: 1;
  }
}