@import "parent";

.wrapper-inner {
    padding: 6px;
}

.wrapper-base {
    padding: 0;
    .item-base {
        background-color: white;
        box-shadow: none;
        border-radius: 0;
        height: auto;

        &:hover {
            opacity: 1;
            cursor: default;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

.item__info .info__paragraph-description {
    text-align: left;
    //padding-left: 20px;
}