
$color-item-background: rgb(180, 207, 242);
$color-item-hover: rgb(141, 176, 236);

.wrapper-base {
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 6px;
    &.edit {
        outline: 2px dashed gray;
        &:hover {
            outline: 3px dashed blue;
        }
    }

    .item-base {
        background-color: $color-item-background;
        text-align: center;
        box-shadow: 0 0 7px 0 grey;
        border-radius: 8px;
        transition: all 0.2s linear;
        position: relative;
        min-height: 20px;
        width: 100%;
        overflow: hidden;

        &:hover  {
            cursor: pointer;
        }
        .link {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            position: absolute;
            left: 0;
            top: 0;
            z-index: $zindex-item-link;
        }
    }
}
.item-price {
    box-shadow: none;
    .transform-container {
        min-height: auto !important;
    }
}

.transform-item[data-type="price"] {
    display: none;
}
