@import "parent";

.wrapper-base {
  border-radius: 8px;
  flex-direction: row;

  @media only screen and (max-width: 700px) {
    & {
      flex-direction: column;
    }
  }
}

.item-base {
  display: flex;
  background-color: white !important;
  & > div {
    width: 50%;
  }

  &:hover {
    opacity: 1;
    background-color: white;
  }
}

.info__block {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-buy {
    flex-direction: column;
    display: flex;
  }
}