@import "parent";

.wrapper-base {
  border-radius: 8px;
  flex-direction: row;

  @media only screen and (max-width: 700px) {
    & {
      flex-direction: column;
    }
  }
}

.item-base {
  .items-wrapper {
    align-content: center;
  }
  display: flex;
  background-color: white !important;
  & > div {
    width: 50%;
  }

  &:hover {
    opacity: 1;
    background-color: white;
  }
}

.info__block {
  .info__paragraph {
    //padding: 10px;
    max-width: 80%;
  }

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .item__price {
    flex-direction: column;
  }
  .wrapper-price {
    width: 100%;
  }
}