

.item-base {
  background-color: white !important;

  &:hover {
    opacity: 1;
    background-color: white;
  }
}

.info__block {
  .info__paragraph {
    max-width: 80%;
  }

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .item__price {
    flex-direction: column;
  }
  .wrapper-price {
    width: 100%;
  }
}