.page-editor {
  & > div {
    position: fixed;
  }
  .buttons {
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .action-button {
    width: 50px;
    height: 50px;
    svg {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(244deg) brightness(106%) contrast(100%)
    }
  }
  .item__info {
    right: 5px;
    bottom: 5px;
    z-index: 9;
    .action-elements {
      width: 200px;
      background-color: #fff;
      padding: 5px;

      max-height: 80vh;
      overflow: auto;
      @include custom-scrollbar;
    }

    @include mobile {
      top: 65px;
    }
  }
  .item__style {
    .editor {
      max-width: 300px;
    }
    .editor__inner {
      max-height: 80vh;
      overflow: auto;
    }
    .preview pre {
      width: 100%;
      white-space: pre-wrap;
    }
    background-color: #fff;
    left: 5px;
    top: 60px;
  }
  .code-editor {
    bottom: 0;
    height: 250px;
    width: 50vw;
    & > div {
      height: 100%;
    }
  }
}