.info__paragraph {
    width: 100%;

    padding: 8px 4px;
    margin: 0 auto;
    word-wrap: break-word; 
    word-break: break-word;
    //text-align: center;
    * {
        font-size: min(4vw, 18px);
    }
    display: inline-block;
    li {
        counter-increment: count 1;
    }
    ul, li {
        padding-left: 1.5em;
        list-style-type: none;
    }

    li::before {
        display: inline-block;
        margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right !important;
        //position: absolute;
    }
    ol li::before {
        content: counter(count, decimal) '. ';
    }
    ul li::before {
        content: '\2022';
    }

    &:empty {
        display: none;
        padding-bottom: 0;
    }

    &:hover {
        cursor: pointer;
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 0;
    }

    &-description {
        white-space: pre-line;
        text-indent: 0;
    }

    &-date {
        width: auto;
        white-space: nowrap;
        font-size: 18px;
        margin: 0 20px;
    }
    .ql-editor {
        overflow: hidden;
    }
    .ql-simple {
        .ql-toolbar {
            display: none;
        }
        .ql-editor {
            padding: 5px;
            background-color: $color-link-background;
        }
    }
    &-textfield {
        .ql-container {
            span {
                font-size: min(4vw, 20px) !important;
            }
        }

    }
}