
.item-model {
  .items-wrapper {
    position: relative;
    z-index: 3;
  }
}

.item-list {
  .item {
    height: 100%;
    position: relative;
    transition: opacity 0.2s linear;

    &-base {
      .transform-resizers {
        z-index: 1;
      }
    }

    :not(.item-base) {
      .transform-resizers {
        z-index: 2;
      }
    }

    .item-data {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .items-wrapper {
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      //height: 100%;
    }
    &-file {
      overflow: visible;

      &:hover {
        opacity: 1;
      }
    }

    &-table {
      overflow: visible;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    &__table {
      overflow-x: auto !important;
    }

    &__file, &__table {
      border-radius: 0;
      box-shadow: none;
    }

    &-container {
      position: relative;
    }

    &-textfield {
      border-radius: 0;
    }
  }
}