@import "Carousel";
.window-close {
  position: fixed !important;
  right: 0;
  top: 0;
  img {
	width: 70px;
	height: 70px;
	margin: 15px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(244deg) brightness(106%) contrast(100%);
	@media only screen and (max-width:$media-resize-width) {
	  & {
		width: 45px;
		margin: 5px;
	  }
	}
  }
}

.info__block {
  background: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);

  span {
	color: #fff;
	padding: 0 20px;
	text-align: center;
	word-break:normal;
	width: 100vw;
  }
}