@import "parent.module";

:export {
  masonry: 1;
  widthPoints: [300, 400];
}

.wrapper-base {
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
  flex-direction: row;

  @media only screen and (max-width: 700px) {
    & {
      flex-direction: column;
    }
  }

  &__wrapper {
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.item-base {
  display: flex;
  flex-direction: row;
  background-color: white !important;

  & > div {
    width: 50%;
  }

  &__items {
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &:hover {
    opacity: 1;
    background-color: white;
  }
}

.info__block {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-buy {
    flex-direction: column;
    display: flex;
  }
}