
.form-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        width: 100%;
        text-align: center;
    }
    input[type="range"] {
        padding: 0;
    }
}