.wrapper-timeline {
  padding: 0;
}
.timeline {
  padding-top: 20px;
  @include mobile {
    .transform-item{
      min-width: 50% !important;
    }
  }
  &-body {
    flex-grow: 1;
  }
  &-item {
    display: flex;
    justify-content: flex-start;
    .timeline {
      &-dot {
        div {
          margin: 0 auto;
          background-color: blue;

          border-radius: 50%;
          box-shadow: 0 0 4px 0 grey;

          width: 15px;
          height: 15px;
        }
      }
      &-connector {
        height: 100%;
        padding: 3px 0;
        div {
          margin: auto;
          width: 5px;
          height: 100%;
          border-radius: 4px;
        }
      }
      &-body {
        padding-right: 15px;
        min-height: 40px;
        > div {
          margin-top: -6px;
        }
        @include mobile {
          padding-right: 0;
        }
      }
      &-separator {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        @include mobile {
          padding: 0 5px 0 0;
        }
      }
    }
    &--disabled {
      .timeline-dot, .timeline-connector {
        div {
          //opacity: 0.5;
          background-color: #989898 !important;
        }
      }

    }
  }
  &-item--secondary {
    .timeline {
      &-separator {
        padding-left: 17.8px;
      }
      &-dot {
        div {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}