.content-wrapper {
    height: 100%;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .item-list {
        margin-top: auto;
    }
}

.viewport-container {
    //height: 1px;
    //min-height: calc(100dvh - 100px);
}