.viewport-container {
    flex-grow: 1;
    transform: none !important;
    pointer-events: auto !important;
    position: relative;
    //overflow: hidden ;
    min-height: auto !important;
    //width: 80vw;
}
.container-main {
    min-height: 100dvh;
}
.content-wrapper {
    overflow: hidden !important;
    //height: 100%;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .item-list {
        margin-top: auto;
    }
}