
.message-inner {
  z-index: 2;
  background-color: #fdfdfd;
  box-shadow: 0 0 2px 0 grey;
  border-radius: 10px;
  max-width: 80%;
  height: 100%;

  &.upload {
    width: 80%;
  }

  .message__text-wrapper {
    padding: 5px;
  }

  .message-text {
    //font-size: calc(14px + 5 * ((100% - 100px) / 500));
  }
}

.message-block {
  display: flex;
  margin: 5px 10px;
  //max-height: 450px;
  &--right {
    justify-content: flex-end;
    .user-info {
      flex-direction: row-reverse;
    }
    .message {
      text-align: right;
    }
  }
  &--left {
    justify-content: flex-start;

    .message {
      text-align: left;
    }
  }
  &.message-typing {
    .message-text {
      width: 85px;
    }
  }
}
