.messages-wrapper {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  position: relative;

  .background {
    background-color: rgba(57, 120, 74, 0.47);
    width: 100%;
    height: 100%;
    .pattern {
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background-size: 600px;
      background-repeat: repeat;
    }
  }
}

.chat-empty {
  color: #fdfdfd;
  background-color: rgba(59, 59, 59, 0.51);
  border-radius: 16px;
  text-align: center;
  width: 80%;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(6vw, 25px);
}

.messages-inner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;

  overflow-y: scroll;
  overflow-x: hidden;
  @include custom-scrollbar;
}

.messages-field__wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-self: flex-end;
  flex-direction: column;
}

.messages-field {
  //align-items: stretch;
  min-height: 100%;
  display: flex;
  width: 100%;
  z-index: 1;
}

.anchor-top {
  height: 1px;
  margin-bottom: auto;
}

.anchor-bottom {
  height: 1px;
}

.messages-enter {
  opacity: 0;
}
.messages-enter-active {
  opacity: 1;
  transition: all 300ms;
}
.messages-exit {
  opacity: 1;
}
.messages-exit-active {
  opacity: 0;
  transition: all 300ms;
}