.text-loader {
  span {
    color: #1E72C7;
    position: relative;
    padding-right: 13px;

    &::after {
      content: attr(data-count);
      width: 13px;
      text-align: left;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
}

.message {
  &-date {
    font-size: 12px;
    margin-top: 5px;
  }

  .item__image {
    border-radius: 8px;
    overflow: hidden;
  }

  &-text {
    word-wrap: break-word;
  }
}