.carousel {
    padding: 0 50px;
    .swiper-slide > div {
        aspect-ratio: auto !important;
        box-shadow: none;
        background-color: none;
        margin: 0 auto;
        width: auto !important;
    }
}