.messenger-open__button {
  box-shadow: 0 0 10px 0 black;
  background-color: #fff;
  position: fixed;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  z-index: calc($zindex-item + 1);
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 13px;
  &:hover {
    background-color: #fff;
    opacity: 0.8;
  }

  .notification-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    right: 2px;
    top: 2px;
    box-shadow: 0 0 2px 0 grey;
  }

  @include mobile {
    & {
      width: 60px;
      height: 60px;
    }
  }
}