.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    .extra {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .navbar div:not(.nav__button--current) {
        display: none;
    }
    .navbar {
        padding-top: 0;
        .nav__button--current {
            width: 60%;
            font-size: 20px;
            background-color: white;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid blue;
            a {
                color: blue;
            }
            &.extra {
                display: block !important;
                width: 40%;
                border: none;
                a {
                    padding-top: 0;
                }
            }
        }
    }

    .transform-item[data-style='tabs'] {
        .items-wrapper {
            align-items: center;
            align-content: initial;
            flex-direction: column;
            .transform-item {
                margin-bottom: 10px;
                width: 100% !important;
            }
        }
    }
}

