.item-list__button {
  max-width: 150px;
  margin: -20px auto 20px auto;
  a {
    font-size: 20px;
    padding: 8px 10px;
  }
}

.item-list {
  transition: all 0.4s linear;
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

